*{
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    font-style: normal;
}
body{
    height: 100vh;
    padding: 3% 10%;
}
header{
    height: 900px;
    .images{
        img{
            position: absolute;
            top: 0;
            right: 0;
            height: auto;
            width: auto;
        }
        :first-child{
            top: 20%;
        }
    }
    .frame_1{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            cursor: pointer;
        }
        .account{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: #2E2E2E;
                font-weight: 500;
                text-decoration: none;
                margin: 0 32px;
                cursor: pointer;
            }
            .sign-in{
                background-color: #000;
                border-radius: 50px;
                width: 125px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: #fff;
                }
            }
        }  
        .other_links{
            a{
                margin: 0 25px;
                font-weight: 400;
                font-size: 15px;
                color: #909090;
                text-decoration: none;
                cursor: pointer;
            }
            .on{
                color: #2E2E2E;
                font-weight: 500;
            }
        }
    }
    .tag_1{
        margin: 100px 0 34px 0;
        color: #FE8432;
        background-color: #FFF3EB;
        border-radius: 20px;
        width: 15%;
        text-align: center;
        font-size: 12px;
    }
    .tag_2{
        h1 {
            position: relative; /* Добавляем позиционирование для работы z-index */
            color: #2E2E2E;
            font-weight: 600;
            font-size: 82px;
            z-index: 1;
            line-height: 1.2;
        }
             
        img {
            position: absolute;
            bottom: 61.5%; 
            left: 10.4%;
            z-index: 0; 
            width: auto;
            height: auto;
        }
        p{
            margin: 20px 0;
            font-size: 16px;
            color: #817D7D;
        }
    }
    .form{
        position: relative;
        margin: 45px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 45%;
        details{
            summary{
                color: #817D7D;
                font-size: 16px;
                font-weight: 400;
            }
        }
        background-color: white;
        border: #817D7D solid 1px;
        border-radius: 12px;
        box-shadow: 0px 0px 10px 0.1px #817D7D;
        height: 80px;
        font-size: 16px;
        button{
            border: none;
            background-color: #2E2E2E;
            color: #fff;
            height: 60px;
            border-radius: 12px;
            width: 155px;
        }
    }
    .tag_3{

        b{
            color: #2E2E2E;
            font-weight: 400;
        }
        p{
            color: #817D7D;
        }
    }
}