*{
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
}
body{
    padding: 3% 10%;
}
header{
    height: 900px;
    .images{
        img{
            position: absolute;
            top: 0;
            right: 0;
            height: auto;
            width: auto;
        }
        :first-child{
            top: 20%;
        }
    }
    .frame_1{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            cursor: pointer;
        }
        .account{
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: #2E2E2E;
                font-weight: 500;
                text-decoration: none;
                margin: 0 32px;
                cursor: pointer;
            }
            .sign-in{
                background-color: #000;
                border-radius: 50px;
                width: 125px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                    color: #fff;
                }
            }
        }  
        .other_links{
            a{
                margin: 0 25px;
                font-weight: 400;
                font-size: 15px;
                color: #909090;
                text-decoration: none;
                cursor: pointer;
            }
            .on{
                color: #2E2E2E;
                font-weight: 500;
            }
        }
    }
    .tag_1{
        margin: 100px 0 34px 0;
        color: #FE8432;
        background-color: #FFF3EB;
        border-radius: 20px;
        width: 15%;
        text-align: center;
        font-size: 12px;
    }
    .tag_2{
        h1 {
            position: relative; /* Добавляем позиционирование для работы z-index */
            color: #2E2E2E;
            font-weight: 600;
            font-size: 82px;
            z-index: 1;
            line-height: 1.2;
        }
             
        img {
            position: absolute;
            bottom: 61.5%; 
            left: 10.4%;
            z-index: 0; 
            width: auto;
            height: auto;
        }
        p{
            margin: 20px 0;
            font-size: 16px;
            color: #817D7D;
        }
    }
    .form{
        position: relative;
        margin: 45px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 45%;
        details{
            summary{
                user-select: none; //new
                cursor: pointer;
                color: #817D7D;
                font-size: 16px;
                font-weight: 400;
            }
        }
        background-color: white;
        border: #817D7D solid 1px;
        border-radius: 12px;
        
        height: 80px;
        font-size: 16px;
        button{
            user-select: none;
            cursor: pointer;
            border: none;
            background-color: #2E2E2E;
            color: #fff;
            height: 60px;
            border-radius: 12px;
            width: 155px;
        }
    }
    .tag_3{

        b{
            color: #2E2E2E;
            font-weight: 400;
        }
        p{
            color: #817D7D;
        }
    }
}
.about_us{
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 900px;
    .tag_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color: #192430;
            font-size: 52px;
            text-align: center;
            line-height: 1.2;
        }
        p{
            color: #817D7D;
            font-size: 15px;
            font-weight: 400;
            margin: 20px 0;
        }
    }
    .buttons{
        display: flex;
        justify-content: space-between;
        width: 100%;
        button{
            cursor: pointer;
            height: 70px;
            width: 70px;
            border: none;
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
        }
        .back_button{
            background-color: #F2F4F5;
        }
        .next_button{
            background-color: #F5A951;
        }
    }
    .cards{
        margin: 36px 0;
        position: relative;
        // left: 5%;
        display: flex;
        justify-content: center;
        .card1, .card3{
            margin: 0 50px;
            width: 470px;
            height: 365px;
            box-shadow: 0px 0px 10px 0.1px #817D7D;
            border: #817D7D 1px solid;
            border-radius: 10px;
        }
        .card2{
            width: 470px;
            height: 450px;
            border: #817D7D 1px solid;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0.1px #817D7D;
            .photo{
                width: 470px;
                height: 303px;
                border-bottom: #817D7D 1.5px solid;
            }
            .info{
                padding: 17px 36px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                h1{
                    color: #2E2E2E;
                    font-size: 24px;
                    margin: 10px 0;
                    font-weight: 500;
                }
                p{
                    font-size: 14px;
                    color: #9E9E9E;
                    font-weight: 400;
                }
            }
            .element_1{
                position: absolute;
                right: 36.5%;
                top: 60%;
                height: 75px;
                width: 75px;
                border-radius: 50px;
                background-color: white;
                box-shadow: 0px 0px 10px 0.1px #817D7D;

                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}